form {
	text-align:center; 
	font: 13px sans-serif;
}

div {
	width: 25em; 
	margin: 1em auto;
	text-align:left;
    padding: 0 2em 1.25em 2em;
    background-color: #d6e9f8;
    border: 2px solid #67a7e3;
}

p {
	padding: 0; 
	margin: 0;
}

label {
      width: 3em;
}
