<html>
<head>
  <title>Friends</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
  <script language="javascript">
  
  function $(id){
    return document.getElementById(id);
  }  
  
  function confirmFriend(friend) {
	$("subaction").value = 'confirm';
	$("selectedFriend").value = friend;
	$("theForm").submit();
  }

  function shareLocation(friend) {
	$("subaction").value = 'share';
	$("selectedFriend").value = friend;
    $("theForm").submit();
  }
  
  function unShareLocation(friend) {
	$("subaction").value = 'unshare';
	$("selectedFriend").value = friend;
	$("theForm").submit();
  }  
  
  function removeFriend(friendKey, friendName) {
	if (confirm("Are you sure you want to remove " + friendName + " as a friend?")) {
		$("subaction").value = 'remove';
		$("selectedFriend").value = friendKey;
		$("theForm").submit();
	}
  }
  </script>
</head>
<body>
  <div>
    {% if failReason %}
    {{failReason}}<br/>
    {% endif %}
        
    <!-- List Friends, allow remove / confirm friends -->
    Friends:<br/>
    <form method="post" action="friends" name="theForm" id="theForm">
    <ul>
    {% if friends %}
    {% for friend in friends %}
    <li>{{friend.friend.username}}
    {% if not friend.confirmed %}
    <a href="javascript:confirmFriend('{{friend.friend.key}}')">Confirm</a>
    {% else %}
    {% if not friend.sharingLocation %}
    	<a href="javascript:shareLocation('{{friend.friend.key}}')">Share Location</a>
  	{% else %}
  		<a href="javascript:unShareLocation('{{friend.friend.key}}')">Hide Location</a>
    {% endif %}
    {% endif %}
    <a href="javascript:removeFriend('{{friend.friend.key}}', '{{friend.friend.username}}')">Remove</a>
    </li>
    {% endfor %}
    {% endif %}
    </ul>
    <!-- New Friend! -->


    <p>
      <label for="friendname">Find a Friend:</label>
      <input name="friendname" type="text" value="{{friendname}}" id="friendname"/>
    </p>  
    <p>
      <input name="action" value="Find" type="submit"
             id="submit-find" />
    </p>
    <input name="subaction" id="subaction" value="" type="hidden"/>
    <input name="selectedFriend" id="selectedFriend" value="" type="hidden"/>
	</form>
  </div>

</body>
</html>