<html>
<head>
  <title>Friends</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
  <script language="javascript">
  function confirmFriend(friend) {
	  alert("Implement this!")
  }
  </script>
</head>
<body>
  <div>
    {% if failReason %}
    {{failReason}}<br/>
    {% endif %}
    
    <!-- List Friends, allow remove / confirm friends -->
    Friends:<br/>
    <ul>
    {% if friends %}
    {% for friend in friends %}
    <li>{{friend}}{% if not friend.confirmed %}<a href="javascript:confirmFriend('{{friend}}')">Confirm</a>{% endif%}
    </li>
    {% endfor %}
    {% endif %}
    </ul>
    <!-- New Friend! -->

    <form method="post" action="friends">
    <p>
      <label for="friendname">Find a Friend:</label>
      <input name="friendname" type="text" value="{{friendname}}" id="friendname"/>
    </p>  
    <p>
      <input name="action" value="Find" type="submit"
             id="submit-find" />
    </p>
	</form>
  </div>

</body>
</html>