<html>
<head>
  <title>Groups</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
  <script language="javascript">
  
  function $(id){
    return document.getElementById(id);
  }
  
  function confirm(group) {
    $("subaction").value = 'confirm';
    $("selectedGroup").value = group;
    $("theForm").submit();
  }
  
  </script>
</head>
<body>
  <div>
    {% if failReason %}
    {{failReason}}<br/>
    {% endif %}
        
    Groups you started:<br/>
    <form method="post" action="groups" name="theForm" id="theForm">
    <ul>
    {% if ownedGroups %}
    {% for group in ownedGroups %}
    <li><a href="group?gp={{group.groupName}}">{{group.groupName}}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
    Groups you are in:<br/>
    <ul>
    {% if groups %}
    {% for group in groups %}
    <li>{{group.groupName}}</li>
    {% endfor %}
    {% endif %}
    </ul>
    Groups you are invited to join:<br/>
    <ul>
    {% if inviteGroups %}
    {% for group in inviteGroups %}
    <li><a href="javascript:confirm('{{group.groupName}}')">{{group.groupName}}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
    <p>
      <label for="groupname">Create a new Group:</label>
      <input name="groupname" type="text" value="{{groupname}}" id="groupname"/>
    </p>  
    <p>
      <input name="action" value="Find" type="submit"
             id="submit-find" />
    </p>
    <input name="subaction" id="subaction" value="" type="hidden"/>
    <input name="selectedGroup" id="selectedGroup" value="" type="hidden"/>
	</form>
  </div>

</body>
</html>