<html>
<head>
  <title>Group</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
  <script language="javascript">
  
  function $(id){
    return document.getElementById(id);
  }

  function submitPage(friend, action) {
	$("subaction").value = action;
	$("selectedFriend").value = friend;
	$("theForm").submit();
  }  
  
  
  </script>
</head>
<body>
  <div>
    {% if failReason %}
    {{failReason}}<br/>
    {% endif %}
        
    Group: {{group.groupName}}<br/>
    <form method="post" action="group" name="theForm" id="theForm">
    Members of this group:
    <ul>
    {% if members %}
    {% for friend in members %}
    <li>{{friend.username}}&nbsp;<a href="javascript:submitPage('{{friend.key}}', 'remove')">Remove</a></li>
    {% endfor %}
    {% endif %}
    </ul>
    Invitees of this group:<br/>
    <ul>
    {% if invitees %}
    {% for friend in invitees %}
    <li>{{friend.username}}&nbsp;<a href="javascript:submitPage('{{friend.key}}','uninvite')">Cancel Invitation</a></li>
    {% endfor %}
    {% endif %}
    </ul>    
    <br/>
    Invite a friend to the group?<br/>
    {% for friend in friends %}
    <li><a href="javascript:submitPage('{{friend.key}}', 'invite')">{{friend.username}}</a></li>
    {% endfor %}
    <input name="subaction" id="subaction" value="" type="hidden"/>
    <input name="selectedFriend" id="selectedFriend" value="" type="hidden"/>
    <input name="gp" id="gp" value="{{group.groupName}}" type="hidden"/>
    
	</form>
  </div>

</body>
</html>