<html>
<head>
  <title>Home</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
</head>
<body>
  <div>
    {% if msg %}
    {{msg}}
    <br/>
    {% endif %}
    Welcome{% if username %}, <b>{{username}}</b>,{% endif %} to Trainerbuddy.
    <ul style='menu'>
    {% if authorised %}
    	<li><a href='./friends'>Friends</a></li>
    	<li><a href='./rides'>Rides</a></li>
   		<li><a href='./logout'>Logout</a></li>
    {% else %}
    	<li><a href='./login'>Login</a><br/></li>
    	<li><a href='./create'>Register</a></li>
    {% endif %}
   	</ul>    
  </div>
</body>
</html>
