<html>
<head>
  <title>Login</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
</head>
<body>
<form method="post" action="login">
  <div>
    {% if failReason %}
    {{failReason}}
    {% endif %}
    <p>
      <label for="username">Username:</label>
      <input name="username" type="text" value="{{username}}" id="username"/>
    </p>
    <p>
      <label for="password">Password:</label>
      <input name="password" type="password" value="" id="password"/>
    </p>
    <p>
      <input name="action" value="Login" type="submit"
             id="submit-login" />
    </p>
    {% if nextPage %}
    <input type="hidden" name="nextPage" id="nextPage" value="{{nextPage}}"/>
    {% endif %}
  </div>
</form>

</body>
</html>