<html>
<head>
  <title>Ride</title>
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>  
  <script language="javascript">
  
  function $(id){
    return document.getElementById(id);
  }
  
  function submitPage(action) {
	$("sts").value = action;
	$("theForm").submit();
  }
  
  </script>
</head>
<body>
  <div>
    {% if failReason %}
    {{failReason}}<br/>
    {% endif %}
    <!-- {{ride.date}} -->
    
    <form method="post" action="viewride" name="theForm" id="theForm">
    <p>Title:{{ride.title}}</p>
    <p>Description:{{ride.description}}</p>    
    <p>Date:{{ridedate}}</p>
    <p>Time:{{ridetime}}</p>
    <p>Your Participation: {{rider.statusdisplay}}</p> 
    <p><a href="javascript:submitPage({{STSINVITED}})">UNDECIDED</a>
	   <a href="javascript:submitPage({{STSACCEPT}})">ACCEPTED</a>
	   <a href="javascript:submitPage({{STSREJECT}})">REJECTED</a></p>
    <p>Riders:<br/>
    <ul>
    {% if participants %}
    {% for rider in participants %}
    <li>{{rider.user.username}}&nbsp;-&nbsp;{{rider.statusdisplay}}</li>
    {% endfor %}
    {% endif %}    
    </ul>
    </p>
    <input name="rd" id="rd" value="{{ride.key}}" type="hidden"/>
    <input name="sts" id="sts" value="" type="hidden"/>
	<br/>
    <p>
      <label for="comment">Comment:</label>
      <input type="text" name="comment" id="comment"/>
    </p>
    <input name="rd" id="rd" value="{{ride.key}}" type="hidden"/>
    <input name="page" id="page" value="viewride" type="hidden"/>    
    <p>
      <input name="action" value="Comment" type="submit"
             id="submit-comment" />
    </p>
	</form>
	Comments:&nbsp;
	<ul>
	{% if comments %}
	{% for comment in comments %}
	<li>{{comment.date}}:&nbsp;{{comment.user.username}}&nbsp;{{comment.comment}}</li>
	{% endfor %}
	{% endif %}
	</ul>
  </div>

</body>
</html>